<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="searchview.xhl.com.scanner">
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity android:name=".qrcode.zxingScaner.ScanerActivity"></activity>
    </application>

</manifest>